.logo{
    height: 2em;
    vertical-align: middle;
    display: inline;
    margin: 1em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f49739;

}

.btn-danger {
    background-color: #ff495c;
    border-color: #ff495c;
}

.border-naranja {
    border-color: #f49739;
}

.titulo {
    font-weight: 700;
    font-size: 6vw;
    line-height: 1.1em;
    text-shadow: 0.06em 0.06em #6f7372;
  
  }

  .pretitulo {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    color: #ffffff!important;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    text-shadow: 2px 2px #6f7372;
  }

  .sombra {
    text-shadow: 2px 2px #6f7372;
  }
  
  .btn-gradiente {
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 8px;
    letter-spacing: 5px;
    font-size: 14px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-image: linear-gradient(90deg,#e02b20 0%,#ff7f33 100%)!important;
}
  
.text-naranja {
  color: #f49739;
}

.seccion-naranja {
  padding-bottom: 2vw;
  margin-bottom: 2vw;
  background-color: #ffc4a3!important;
}

.video {

    height: 600px;
    background-image: url(https://unsplash.it/1800/900?image=1051);
    background-position: center;
    background-size: cover;
  }
  
